html
  body
    .half
      .centered
        .contentProvider
          .content
            button.inc +increase deg[var steps]
            button.dec -decrease deg[var steps]
    .half
      .centered
        .contentProvider
          .content
            .radialProgressBar
              .circleMask
                .innerCircleMask
                .progressContainer
                  .progress
                  .progress
                  .progress
                  .progress
                .clipperContainer
                  .clipper
